.app-input-field {
  border: 2px solid gray;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  background-color: transparent;
  outline: none; /* Add this line to remove the outline */
}

.app-input-field:active,
.app-input-field:focus {
  border: 2px solid white;
}
.grey-tag {
  color: gray;
}
