.layout-sidebar {
    position: fixed;
    width: 300px;
    height: calc(100vh - 9rem);
    z-index: 999;
    overflow-y: auto;
    top: 7rem;
    left: 2rem;
    transition: transform .2s, left .2s;
    background-color: var(--surface-overlay);
    border-radius: 12px;
    padding: 0.5rem 1.5rem;
    box-shadow: 0 3px 5px rgb(0 0 0 / 2%), 0 0 2px rgb(0 0 0 / 5%), 0 1px 4px rgb(0 0 0 / 8%);
}

.layout-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.layout-menu li a {
    display: flex;
    align-items: center;
    position: relative;
    text-transform: capitalize;
    outline: 0 none;
    color: var(--text-color);
    cursor: pointer;
    padding: 0.75rem 1rem;
    border-radius: 12px;
    transition: background-color .2s, box-shadow .2s;
}

.layout-menu li a .layout-menuitem-icon {
    margin-right: 0.5rem;
}

.layout-menu li a.active-route {
    font-weight: 500;
    color: var(--primary-color);
}

.pi-fw {
    width: 1.28571429em;
    text-align: center;
}

.p-ripple {
    overflow: hidden;
    position: relative;
}

.layout-menu ul a.active-route {
    font-weight: 700;
    color: var(--primary-color);
}

@media (min-width: 992px) {
    .layout-wrapper.layout-static.layout-static-inactive .layout-sidebar {
        transform: translateX(-100%);
        left: 0;
    }
}

@media (max-width: 991px) {
    .layout-wrapper.layout-mobile-active .layout-sidebar {
        transform: translateX(0);
    }

    .layout-wrapper .layout-sidebar {
        transform: translateX(-100%);
        left: 0;
        top: 0;
        height: 100vh;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }


}